/* Add custom CSS here */
body {
  font-family: "Crimson Text", serif;
}

.aa-orange-bg {
  background-color: #fe802f;
}

.aa-blue-txt:hover {
  color: #0052ff;
}

.aa-about-us {
  font-family: "Dancing Script", cursive;
}
