/* Add custom CSS here */
body {
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

.aa-orange-bg {
  background-color: #fe802f;
}

.aa-blue-txt:hover {
  color: #0052ff;
}

.aa-about-us {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.aa-border-bottom {
  border-bottom: 3mm ridge #0052ff;
}
