/* Add custom CSS here */
body {
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

.aa-nav {
  background-color: #fe802f;
}

.aa-icon:hover {
  color: #0052ff;
}

.aa-about-us {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.div-pulse:hover {
  animation: pulse 2s infinite;
  background-color: #fff;
  border-radius: 5%;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
